@media (max-width: 1440px) {
    .footer__logo {
        margin-right: 70px;
    }

    .menu-bottom {
        flex-wrap: wrap;
    }
}

@media (max-width: 1280px) {
    .slider {
        max-width: 1050px;
        padding-right: 70px;

        &__dot--mob {
            display: block;
        }
    }

    .slide {
        margin-left: 100px;
    }
}

@media (max-width: 1110px) {
    .slider {
        max-width: 680px;
        padding-right: 140px;
    }

    .slide {
        margin-left: 150px;
    }
}

@media (max-width: 992px) {
    .wrapper {
        width: 100%;
        box-sizing: border-box;
        padding-left: 30px;
        padding-right: 30px;
    }

    .header {
        &__wrapper {
            position: relative;
            justify-content: space-between;
            padding-top: 25px;
            padding-bottom: 25px;
        }

        &__mobile-wrap {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            z-index: 10;
        }

        &__nav {
            width: 100%;
            flex: none;
            padding-bottom: 45px;
            border-top: 1px solid #D6B9FF
        }
    }

    .mobile-wrap {
        background-color: white;
        box-shadow: 0 8px 0 rgba(0, 0, 0, 0.15);
        flex-direction: column;
        padding-bottom: 45px;
        display: none;
    }

    .burger {
        display: block;
    }

    .menu-top {
        flex-direction: column;
        align-items: stretch;

        &__item {
            margin-right: 0;

            &--sub {
                &:hover {
                    + .submenu {
                        display: block;
                        position: static;
                    }

                    & .menu-top__submenu-icon--desk.menu-top__submenu-icon--hidden {
                        display: none;
                    }
                    
                    & .menu-top__submenu-icon--mob {
                        display: none;
    
                        &.menu-top__submenu-icon--hidden {
                            display: block;
                            top: 30px;
                        }
                    }
                }
            }
        }

        &__link {
            border-bottom: 1px solid #D6B9FF;
            font-size: 27px;
            line-height: 2.7;
            padding: 0 30px;
        }

        &__submenu-icon {
            &--desk {
                display: none;
            }

            &--mob {
                display: block;
                position: absolute;
                right: 30px;
                margin-left: 0;
                top: 35px;
            }

            &--hidden {
                display: none;
            }
        }
    }

    .submenu {
        border: none;
        background-color: #F9F4FF;
        box-shadow: none;
        min-width: unset;
        position: initial;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #D6B9FF;
        display: none;

        &__link {
            font-size: 25px;
            line-height: 2.7;
            padding: 0 60px;
            display: block;
        }
    }

    .submenu:before {
        display: none;
    }

    .main {
        margin-top: 75px;
    }

    .footer {
        padding: 50px 0 40px;

        &__wrapper {
            align-items: flex-start;
        }
    }

    .menu-bottom {
        flex-direction: column;
        align-items: flex-start;
    }

    .form__input {
        width: 250px;
    }
}

@media (max-width: 768px) {
    .wrapper {
        padding-left: 25px;
        padding-right: 25px;
    }

    .menu-top {
        &__link {
            padding: 0 25px;
        }

        &__submenu-icon--mob {
            right: 25px;
        }
    }

    .submenu__link {
        padding: 0 25px 0 55px;
    }
}

@media (max-width: 750px) {
    .main__wrapper {
        padding: 0;
    }

    .main-text {
        padding-left: 25px;
        padding-right: 25px;
    }

    .slider {
        max-width: unset;
        border-radius: 0;
        padding: 70px 20px 40px 20px;
        margin-bottom: 100px;

        &__wrapper {
            width: 410px;
            margin: 0 auto;
        }

        &__dots {
            margin-top: 45px;
            margin-left: 0;
            justify-content: center;
        }
    }

    .slide {
        margin-left: 10px;
        margin-right: 10px;
        padding: 40px 60px;

        &__num {
            display: none;
        }
    }

    .footer {
        &__wrapper {
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }

        &__logo {
            margin-right: 0;       
        }

        &__menu-bottom {
            flex: none;
        }
    }

    .menu-bottom {
        align-items: flex-end;

        &__item {
            margin-right: 0;
        }

        &__link {
            width: 100px;
            display: block;
        }
    }

    .form {
        width: 100%;
        flex-direction: column;
        margin-top: 30px;

        &__input {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 480px) {
    .main {
        margin-top: 80px;
    }

    h1 {
        font-size: 35px;
        margin-bottom: 40px;
    }

    .slider {
        padding: 45px 20px 40px;
    }

    .slider__wrapper {
        width: 350px;
    }

    .slide {
        min-width: 330px;
        padding: 40px;
    }

    .footer {
        padding: 60px 0 50px;
        &__wrapper {
            justify-content: space-between;
        }
    }
}


@media (max-width: 380px) {
    .slider {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 75px;

        &__wrapper {
            width: 290px;
        }
    }

    .slide {
        min-width: 280px;
        padding: 40px 30px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media (max-width: 320px) {
    .form__input {
        width: 100%;
    }
}